﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="/gt/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/gt/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/gt/build/css/custom.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    @RenderSection("Css", required: false)
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>UC Template!</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li><a href="/home/index">Index</a></li>
                          <li><a href="/home/contact">Contact</a></li>
                          <li><a href="/home/table">Table</a></li>
                          <li><a href="/home/tablemodel">Datamodel table</a></li>
                          <li><a href="/home/about">About</a></li>
                          <li><a href="/Gentelella/login">Login</a></li>
                      </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Gentelella <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/Gentelella">Gentelella demos</a></li>
                      
                    </ul>
                  </li>
                 </ul>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">   
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->


        <!-- page content -->
        @RenderBody()
        <!-- page content -->

 
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Umoe Consulting - Gentelella Template by <a href="https://colorlib.com">Colorlib, Magne Alvheim</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

     <!-- jQuery -->
    <script src="/gt/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/gt/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/gt/lib/fastclick/lib/fastclick.js"></script>

    @RenderSection("Scripts", required: false)

    <!-- Custom Theme Scripts -->
    <script src="/gt/build/js/custom.min.js"></script>
	
  </body>
</html>
