﻿@{Layout = "/Views/Shared/_ucLayout.cshtml";}
@{
    ViewBag.Title = "Home Page";
}

@section Css {
    <!-- NProgress -->
    <link href="/gt/lib/nprogress/nprogress.css" rel="stylesheet">
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
     

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Welcome</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">                                    
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">




                 


                        <div class="jumbotron">
                            <h1>ASP.NET</h1>
                            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h2>Getting started</h2>
                                <p>
                                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                    enables a clean separation of concerns and gives you full control over markup
                                    for enjoyable, agile development.
                                </p>
                                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                            </div>
                            <div class="col-md-4">
                                <h2>Get more libraries</h2>
                                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                            </div>
                            <div class="col-md-4">
                                <h2>Web Hosting</h2>
                                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                            </div>
                        </div>









                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


@section Scripts {
    <!-- FastClick -->
    <script src="/gt/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/gt/lib/nprogress/nprogress.js"></script>
}