﻿@model ASPMVCGentelella.Models.TableModel
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_ucLayout.cshtml";
}

@section Css {
    <link href="/gt/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/gt/lib/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/gt/lib/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/gt/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">


        <div class="page-title">
            <div class="title_left">
                <h3>Table template</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="clearfix"></div>



        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_title">

                        <h2>Default Example</h2>
                        
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">                                  
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            @Model.Message
                        </p>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var customer in @Model.Customers)
                                {
                                    <tr>
                                        <td>@customer.Name</td>
                                        <td>@customer.Position</td>
                                        <td>@customer.Office</td>
                                        <td>@customer.Age</td>
                                        <td>@customer.StartDate</td>
                                        <td>@customer.Salary</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /page content -->

@section Scripts {
    <!-- FastClick -->
    <script src="/gt/lib/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/gt/lib/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="/gt/lib/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="/gt/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/gt/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}